@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: #f8f9fb;
}

/* Webkit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

/* Optional: For other browsers (less supported) */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}


.swiper-pagination-bullet {
  width: 10px !important;
  background: #888 !important;
  border-radius: 20% !important;
  height: 5px !important;
}

.swiper-pagination-bullet-active {
  background: #0E2920 !important;
  width: 20px !important;
}
